  $fondoGeneral:  #e6e9f6;
  $fondoHeader: #faf673;
  $fondoNav: rgb(181, 189, 227);
  $fondoButton: #ced3ec;
  $formularioContacto:  #8b84f5;
  $fondoCard: rgb(152, 166, 179);
  $fondoNavShow: rgb(181, 189, 227);